.basic-form-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 1%;
    margin-bottom: 10%
}

.config-form-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 1%; 
    margin-bottom: 10% 
}