<app-alert [isVisible]="firstLogin" (hide)="firstLogin=!firstLogin" [alertType]="'success'" [message]="'demo.title'" ></app-alert>

<div class="mb-3">
    <app-view-header 
        [icon]="infoModule.icon" 
        [viewName]="infoModule.name" 
        [viewDescription]="infoModule.description">
    </app-view-header>
</div>  

<div class="grid-4 mb-3">
    <app-metric-card-n1 [metricCardData]="metrics[0]"></app-metric-card-n1>
    <app-metric-card-n1 [metricCardData]="metrics[1]"></app-metric-card-n1>
    <app-metric-card-n1 [metricCardData]="metrics[2]"></app-metric-card-n1>
    <app-metric-card-n1 [metricCardData]="metrics[3]"></app-metric-card-n1>
</div>

<div class="grid-3 mb-3">
    <app-chart [chartData]='dashboardChart[0]'></app-chart> 
    <app-chart [chartData]='dashboardChart[1]'></app-chart>
    <app-chart [chartData]='dashboardChart[2]'></app-chart>
</div>

<app-data-table 
            [rowData]="rowData"
            [columnDefs]="columnDefs"
></app-data-table>

  




 