$icon-color: #105c7e;


.center-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    color: var(--text-color);
}

i{
    font-size: 15vw;
    color: $icon-color;
}

.message{
    font-size: 4vw;
    font-weight: 400;
}