.metric-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10%;
}

.card {
    height: 100% !important;
}

.card-body{
    display: flex;
    align-items: center;
}

.metric-icon i{
    font-size: 50px;
}

.metric-icon {
    padding: 15px;
    border-radius: 50%;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-weight-light{
    color: rgb(192, 190, 190);
}