.info-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-gap: 1%;   
    .form-group{
        margin-bottom: 5em;
    }
}


.image{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #d3d3d3;
    border-radius: 5%;
    width: 250px;
    height: 250px;

    img{
        max-width: 250px;
        max-height: 250px;
        border-radius: 5%;
    }
}

.currentColor{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid lightgray 1px;
}

.currentColor i{
    font-size: 50px;
}


