<div class="card" *ngIf="listData.type === 'task' && listData.listItems.length >= 1" >
    <div class="card-header d-flex flex-row align-items-center">
        <i class="{{listData.icon}}" id="icon"></i>
        <span class="ml-2 title">{{listData.listTitle | translate}}</span>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of listData.listItems; index as i" class="list-group-item d-flex flex-row justify-content-between">
                <div class="left-side d-flex flex-row">
                    <div class="todo-indicator bg-{{item.color}}"></div>
                    <div class="mx-2 d-flex align-items-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck{{i}}" >
                            <label class="custom-control-label" for="customCheck{{i}}"></label>
                        </div>
                    </div>
                    <div class="description">
                        <div class="title">{{item.title}}</div>
                        <div class="subtitle">{{item.subtitle}}</div>
                    </div>
                </div>
                <div class="d-flex align-items-center" *ngIf="item.tags && item.tags.length >= 1">
                    <app-tag *ngFor="let tag of item.tags"  [tagData]="tag"></app-tag>
                </div>
                <div class="d-flex align-items-center">
                    <button *ngFor="let button of item.buttons" class="border-0 btn btn-outline-{{button.color}} ">
                        <i class="{{button.icon}}"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div class="d-block text-right card-footer">
        <button *ngFor="let action of listData.actions" class="mr-2 btn btn-{{action.color}}">{{action.text}}</button>
    </div>
</div>

<div class="card" *ngIf="listData.type ==='account'">
    <div class="card-header d-flex flex-row align-items-center">
        <i class="{{listData.icon}}" id="icon"></i>
        <span class="ml-2 title">{{'accountListModule.listTitle' | translate}}</span> 
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of listData.listItems; index as i" class="list-group-item d-flex flex-row justify-content-sm-between">
                <div class="left-side d-flex flex-row">
                    <div class="todo-indicator bg-{{item.color}}"></div>
                    <div class="mx-2 d-flex align-items-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck{{i}}" >
                            <label class="custom-control-label" for="customCheck{{i}}"></label>
                        </div>
                    </div>
                    <div class="description">
                        <div class="title">{{ i+1 }}</div>
                        <div class="subtitle">{{item.title}} </div>
                        <div class="subtitle">{{item.subtitle}} </div>
                    </div>
                </div>

                <div class="d-flex align-items-center" >
                    <app-tag *ngFor="let tag of item.tags" [tagData]="tag"></app-tag>
                </div>
                <div class="d-flex align-items-center">
                    <button *ngFor="let button of item.buttons" class="border-0 btn btn-outline-{{button.color}} ">
                        <i class="{{button.icon}}"></i> {{button.text}}
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div class="d-block text-right card-footer">
        <button *ngFor="let action of listData.actions" class="mr-2 btn btn-{{action.color}}">{{action.text}}</button>
    </div>
</div>