.grid-cards{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-gap: 1%;
    padding-bottom: 10px;
}

.grid-metrics{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 1%;
    padding-bottom: 10px;
}

