<div class="center-align full-height">
    <div class="card">
        <div class="card-body">
            <div *ngIf="(error$ | async)!= null">
                <app-alert  [isVisible]="(error$ | async).ok === false " [alertType]="'danger'" [message]="'resetModule.messages.resetError'"></app-alert>
                <app-alert  [isVisible]="(error$ | async) === false " [alertType]="'success'" [message]="'resetModule.messages.resetSuccess'"></app-alert>
            </div>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="reset-img mb-3">
                    <img src="../../../../assets/img/logo2.png" alt="">
                    <h3 class="font-weight-light">{{'resetModule.title' | translate }}</h3>
                </div>  
                <div class="form-group icon-right">
                    <div class="end-align">
                        <span class="fa fa-user form-control-icon"></span>
                    </div>                    
                    <input formControlName="email" type="text"  
                        [class.invalid-input]="emailControl.invalid&&emailControl.touched"
                        class="form-control form-control-lg font-weight-light" placeholder="{{'resetModule.labels.email' | translate }}">                    
                    <div  class="input-error" *ngIf="emailControl.invalid&&emailControl.touched">
                        {{'resetModule.messages.emailError' | translate }}
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-lg font-weight-light w-100 " [disabled]="emailControl.invalid">{{'resetModule.buttons.recover' | translate }} </button>
            </form>
        </div>
    </div>
</div>

