<div class="center-align full-height bg-gradient">
    <div class="movement center-align">
      <img class="sucking" src="../../../../assets/img/sucking.png" alt="">
    <!--/div>
    <div class="center-align movement"-->
      <div>
        <div class="arrow down"></div>
        <div class="arrow up"></div>
      </div>
      <div id="signal" class="card text-white p-2">
          <div class="card-body">
            <h3 class="app-title">angular11BaseApp</h3> <br>
            <h1 class="message-info">{{message}}</h1>
          </div>
      </div>
    </div>
</div>