<div>
  <h2> Tickets Generation </h2>

  <div class="actions-container">
    <h4 class="actions-title pl-4">
      Action section
    </h4>
    <div class="actions-container-btns">
      <button type="button" class="btn btn-primary btn-block ml-4 mr-4" (click)="generateRandomTickets()" data-toggle="tooltip" data-placement="top" title="Click here for generate ticket">Generate tickets</button>
    </div>
  </div>

  <div class="content-tickets-container" *ngIf="(tickets$ | async) ">
    <h4 class="actions-tickets-info pl-4">Tickets Info</h4>
    <div class="grid-3 pr-4">
      <app-data-table
        [rowData]="(tickets$ | async)"
        [columnDefs]="columnDefs"
        [paginationPageSize]="20">
      </app-data-table>
    </div>
  </div>
</div>
